* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal-: #F5F5F5;
  --colorSecundario-:#EBEBEB;
  --colorTerciario-:#d0d0d0;
  --ColorLetras-:#1F1F1F;
  --ColorRespaldo-: #4A9659;
  --ColorRespaldoSecundario-:#E26D5C;
  --ColorRespaldoTerciario-:#77547b;
  --Font-: 'Montserrat', sans-serif;
  /* Recordar que fontweigth es de 300 y 600; */
  background-color: var(--colorPrincipal-);
}
.registerPageMainContainer {
  height: 100vh;
  background-color: var(--colorPrincipal-);
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerContainer {
  border-radius: 10px;
  height: 600px;
  width: 30%;
  border: var(--ColorRespaldoTerciario-)1px solid;
  box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 30px;
  gap: 20px;
}
.inputsContainerRegister {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputInfoContainer {
  display: flex;
  /* align-items: center; */
  gap: 10px;
  cursor: pointer;
}
.popoverContainer {
  font-family: var(--Font-);
}
.titlePopoverRegister {
  font-size: 1rem;
}

/* --------------Mediaqueries----------------- */

@media (max-width: 426px) {
  .registerContainer {
    width: 80%;
  }
}
@media (min-width: 426px) and (max-width: 768px)  {
  .registerContainer {
    width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 1024px)  {
  .registerContainer {
    width: 50%;
  }
}