* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal-: #F5F5F5;
  --colorSecundario-:#EBEBEB;
  --colorTerciario-:#d0d0d0;
  --ColorLetras-:#1F1F1F;
  --ColorRespaldo-: #4A9659;
  --ColorRespaldoSecundario-:#E26D5C;
  --ColorRespaldoTerciario-:#77547b;
  --Font-: 'Montserrat', sans-serif;
  /* Recordar que fontweigth es de 300 y 600; */
  background-color: var(--colorPrincipal-);
}
.userFormSectionMainContainer {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  background-color: var(--colorPrincipal-);
}
.userFormsContainer {
  /* border: 1px solid var(--ColorRespaldoTerciario-); */
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
  padding: 30px 20px;
}
.headerCards {
  width: 100%;
}
.cardsContainer {
  padding: 0px 20px ;
  display: flex;
  justify-content: start;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}
.titleHeaderCards {
  font-family: var(--Font-);
  font-size: 2rem;
}
.txtFormsNotFound {
  font-family: var(--Font-);
}
.svgNotFound {
  width:50px;
  color: var(--ColorLetras-);
}
.btnCreateForm404txt {
  background-color: transparent;
  border: none;
  color: var(--ColorRespaldoSecundario-);
}

/* ----------Mediaqueries----------- */
@media (max-width: 426px) {
  .cardsContainer {
    padding: 0;
  }
  .titleHeaderCards {
    font-size: 1.5rem;
  }
  .userFormsContainer {
    width: 90%;
  }
}
@media (min-width: 426px) and (max-width: 768px)  {
  .userFormsContainer {
    width: 90%;
  }
}
