* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal-: #F5F5F5;
  --colorSecundario-:#EBEBEB;
  --colorTerciario-:#d0d0d0;
  --ColorLetras-:#1F1F1F;
  --ColorRespaldo-: #4A9659;
  --ColorRespaldoSecundario-:#E26D5C;
  --Font-: 'Montserrat', sans-serif;
  /* Recordar que fontweigth es de 300 y 600; */
  background-color: var(--colorPrincipal-);
}
.questSectFormToRespMainContainer {
  font-family: var(--Font-);
  border-radius: 10px ;
  border-bottom: transparent 1px solid;
  border-top: transparent 1px solid;
  border-right: transparent 1px solid;
  border-left:transparent 1px solid;
  width: 100%;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
}
.questSectFormToRespMainContainer:hover {
  border: var(--ColorRespaldoTerciario-) 1px solid;
}
.HeaderquestSectFormToRespContainer{
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.questSectFormToRespContainer{
  /* border: 1px solid red; */
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.spanRequire{
  font-size: 1.5rem;
  color: rgb(214, 0, 0);
}
.titleSectionFormToResp{ 
  font-size: 1.5rem;
}
.imgContainerQuesToResp {
  width: 100%;
}
/* --------------Mediaqueries----------------- */

/* @media (max-width: 426px) {
  .questSectFormToRespMainContainer {
    width: 95%;
  }
} */
/* @media (min-width: 426px) and (max-width: 768px)  {
  .registerContainer {
    width: 70%;
  }
} */