* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal-: #F5F5F5;
  --colorSecundario-:#EBEBEB;
  --colorTerciario-:#d0d0d0;
  --ColorLetras-:#1F1F1F;
  --ColorRespaldo-: #4A9659;
  --ColorRespaldoSecundario-:#E26D5C;
  --ColorRespaldoTerciario-:#77547b;
  --Font-: 'Montserrat', sans-serif;
  /* Recordar que fontweigth es de 300 y 600; */
  background-color: var(--colorPrincipal-);
}
.chartInfoContainer {
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
  border: 1px solid transparent;
}
.chartInfoContainer:hover {
  cursor: pointer;
  border: 1px solid var(--ColorRespaldoTerciario-);
}
.chartjsMainSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.chartGraph {
  padding: ;
}
.titleCardResponse {
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
}
