* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal-: #F5F5F5;
  --colorSecundario-:#EBEBEB;
  --colorTerciario-:#d0d0d0;
  --ColorLetras-:#1F1F1F;
  --ColorRespaldo-: #4A9659;
  --ColorRespaldoSecundario-:#E26D5C;
  --Font-: 'Montserrat', sans-serif;
  /* Recordar que fontweigth es de 300 y 600; */
  background-color: var(--colorPrincipal-);
}
.navbarDashboardMainContainer {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  font-family: var(--Font-);
  background-color: var(--colorSecundario-);
  border-bottom: 1px solid var(--colorTerciario-);
}
.searchFormDashboard {
  width: 50%;
  display: flex;
  gap: 10px;
}
.userIconsNavbarSection {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bodyModalAddForm{
  display: flex;
  align-items: center;
  gap: 10px;
}
.iconInfoModal{
  cursor: pointer;
}
.prueba {
  font-family: var(--Font-) !important;
}
.titleInfoFormdrawer {
  font-size: 1rem;
}
.bodyDrawer{
  font-family: var(--Font-);
}
.SelectModalCreateForm {
  display: flex;
  flex-direction: column;
}
.selectContainerInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.spanErrorModalCreateForm {
  font-family: var(--Font-);
  color: red;
  padding-left: 10px;
}