* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal-: #F5F5F5;
  --colorSecundario-:#EBEBEB;
  --colorTerciario-:#d0d0d0;
  --ColorLetras-:#1F1F1F;
  --ColorRespaldo-: #4A9659;
  --ColorRespaldoSecundario-:#E26D5C;
  --ColorRespaldoTerciario-:#77547b;
  --Font-: 'Montserrat', sans-serif;
  /* Recordar que fontweigth es de 300 y 600; */
  background-color: var(--colorPrincipal-);
}
.titleLogo {
  font-family: var(--Font-);
  font-weight: 600;
  margin-bottom: 0px;
  font-size: 1.8rem;
}
.logoMainContainer {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--ColorLetras-);
}
.logoImgEchoSurvey {
  height: 60px;
}