* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal-: #F5F5F5;
  --colorSecundario-:#EBEBEB;
  --colorTerciario-:#d0d0d0;
  --ColorLetras-:#1F1F1F;
  --ColorRespaldo-: #4A9659;
  --ColorRespaldoSecundario-:#E26D5C;
  --Font-: 'Montserrat', sans-serif;
  /* Recordar que fontweigth es de 300 y 600; */
  background-color: var(--colorPrincipal-);
}
.optionsQuestMainContainer {
  border: 1px solid var(--colorTerciario-);
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 5px;
}
.tooltip {
  font-family: var(--Font-) !important;
}

.iconOptionsQuest {
  padding: 5px;
  border-radius: 5px;
}

.iconOptionsQuest:hover {
  cursor: pointer;
  background-color: var(--colorTerciario-);
  /* color: var(--colorPrincipal-); */
}
.imageSelected{
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--colorTerciario-);
}
.toast {
  font-family: var(--Font-);
}
.react-hot-toast {
  font-family: var(--Font-);
}
