* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal-: #F5F5F5;
  --colorSecundario-:#EBEBEB;
  --colorTerciario-:#d0d0d0;
  --ColorLetras-:#1F1F1F;
  --ColorRespaldo-: #4A9659;
  --ColorRespaldoSecundario-:#E26D5C;
  --ColorRespaldoTerciario-:#77547b;
  --Font-: 'Montserrat', sans-serif;
  /* Recordar que fontweigth es de 300 y 600; */
  background-color: var(--colorPrincipal-);
}
.heroladingpageMainContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.imgHeroLanding {
  width: 100%;
  object-fit: cover;
  height: 400px;
  filter: sepia(0.3);
}
.sloganHeroLanding {
  position: absolute;
  font-family: var(--Font-);
  font-weight: 600;
  color: var(--ColorLetras-);
}