* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal-: #F5F5F5;
  --colorSecundario-:#EBEBEB;
  --colorTerciario-:#d0d0d0;
  --ColorLetras-:#1F1F1F;
  --ColorRespaldo-: #4A9659;
  --ColorRespaldoSecundario-:#E26D5C;
  --ColorRespaldoTerciario-:#77547b;
  --Font-: 'Montserrat', sans-serif;
  /* Recordar que fontweigth es de 300 y 600; */
  background-color: var(--colorPrincipal-);
}
.firstInfoSection {
  padding: 20px 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: var(--colorPrincipal-);
  border-bottom: 1px solid #77547b46;
  /* flex-wrap: wrap; */
}
.infoParagraph {
  font-family: var(--Font-);
  color: var(--ColorLetras-);
  font-size: 1.3rem;
  margin-bottom: 0px;
}
.imgFirstSection{
  width: 350px;
}

/* ----------Mediaqueries------------ */

@media (max-width: 768px) {
  .firstInfoSection {
    flex-wrap: wrap;
  }
}