* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal-: #f5f5f5;
  --colorSecundario-: #ebebeb;
  --colorTerciario-: #d0d0d0;
  --ColorLetras-: #1f1f1f;
  --ColorRespaldo-: #4a9659;
  --ColorRespaldoSecundario-: #e26d5c;
  --Font-: "Montserrat", sans-serif;
  /* Recordar que fontweigth es de 300 y 600; */
  background-color: var(--colorPrincipal-);
}
.uploadImgBtn {
  border-radius: 5px;
  border: 1px solid var(--ColorRespaldoSecundario-);
  padding: 0px 10px;
  background-color: var(--colorSecundario-);
}
.uploadImgBtn:hover {
  background-color: var(--ColorRespaldoSecundario-);
  color: var(--colorPrincipal-);
}
.formUploadMainContainer{
  font-family: var(--Font-);
  display: flex;
  gap: 5px;
}
