* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal-: #F5F5F5;
  --colorSecundario-:#EBEBEB;
  --colorTerciario-:#d0d0d0;
  --ColorLetras-:#1F1F1F;
  --ColorRespaldo-: #4A9659;
  --ColorRespaldoSecundario-:#E26D5C;
  --ColorRespaldoTerciario-:#77547b;
  --Font-: 'Montserrat', sans-serif;
  /* Recordar que fontweigth es de 300 y 600; */
  background-color: var(--colorPrincipal-);
}
.navbarLandingPageMainContainer {
  height: 70px;
  background-color: var(--colorSecundario-);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.userOptionsContainer {
  display: flex;
  gap: 10px;
}
.btnUserOptLadingPage {
  text-decoration: none;
  font-family: var(--Font-);
  padding: 0px 10px ;
  border: none;
  border-bottom: 1px solid transparent;
  background-color: var(--colorSecundario-);
  font-size: 1.2rem;
  color: var(--ColorLetras-);
}
.btnUserOptLadingPage:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--ColorRespaldoSecundario-);
  transition: 0.2s;
}
.btnUserOptDropdownLadingPage {
  text-decoration: none;
  font-family: var(--Font-);
  padding: 0px 10px ;
  border: none;
  border-bottom: 1px solid transparent;
  background-color: white;
  font-size: 1.2rem;
  color: var(--ColorLetras-);
}
.showDropdownNavbar {
  display: none;
}

/* ----------Mediaqueries------------ */

@media (max-width: 769px) {
  .showDropdownNavbar {
    display: block;
  }
  .hideBtnNavBar {
    display: none;
  }
}