* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal-: #F5F5F5;
  --colorSecundario-:#EBEBEB;
  --colorTerciario-:#d0d0d0;
  --ColorLetras-:#1F1F1F;
  --ColorRespaldo-: #4A9659;
  --ColorRespaldoSecundario-:#E26D5C;
  --Font-: 'Montserrat', sans-serif;
  /* Recordar que fontweigth es de 300 y 600; */
  background-color: var(--colorPrincipal-);
}
.inputTextMainContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--Font-);
}
.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.inputText {
  width: 100%;
  margin-bottom: 5px;
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid #aaaaaa;
  transition: border-color 0.3s ease-in-out;
  font-family: var(--Font-);
}
.inputText:focus {
  border-bottom: 1px solid  var(--ColorRespaldoSecundario-); /* Cambia el color del borde cuando el input está enfocado */
}
.iconsStyleTextContainer {
  width: 100%;
  display: flex;
  justify-content: start;
}

.iconsStyleText {
  width: 100%;
  /* border: solid red 1px; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  display: flex;
  justify-content: flex-start; /* Alinea los iconos al inicio del contenedor */
  gap: 10px;
  padding: 0px 10px;
}

.inputContainer:focus-within .iconsStyleText {
  max-height: 50px; /* O la altura deseada */
  transition: max-height 0.5s ease-in-out;
}
.iconsInputText{
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
  border-radius: 3px;
}
.iconsInputText:hover {
  background-color: var(--colorTerciario-);
}
.iconsInputTextSelected {
  cursor: pointer;
  font-size: 15px;
  background-color: var(--colorTerciario-);
  color: var(--ColorLetras-);
  padding: 5px;
  border-radius: 3px;
}
.charContainer {
  width: 100%;
  display: flex;
  justify-content: end;
}
.tooltip {
  font-family: var(--Font-) !important;
}
.notShowIconsStyle {
  display: none;
}