* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal-: #F5F5F5;
  --colorSecundario-:#EBEBEB;
  --colorTerciario-:#d0d0d0;
  --ColorLetras-:#1F1F1F;
  --ColorRespaldo-: #4A9659;
  --ColorRespaldoSecundario-:#E26D5C;
  --Font-: 'Montserrat', sans-serif;
  /* Recordar que fontweigth es de 300 y 600; */
  background-color: var(--colorPrincipal-);
}
.textInputIdentifyFormToResp {
  font-family: var(--Font-);
  font-size: 1.5rem;
}
.titleContainerIdentify {
  width: 90%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}