* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal-: #F5F5F5;
  --colorSecundario-:#EBEBEB;
  --colorTerciario-:#d0d0d0;
  --ColorLetras-:#1F1F1F;
  --ColorRespaldo-: #4A9659;
  --ColorRespaldoSecundario-:#E26D5C;
  --Font-: 'Montserrat', sans-serif;
  /* Recordar que fontweigth es de 300 y 600; */
  background-color: var(--colorPrincipal-);
}

.titleSectionFormToRespMainContainer{
  font-family: var(--Font-);
  border-radius: 10px 10px 0px 0px;
  border-bottom: solid 20px var(--ColorRespaldoTerciario-);
  border-top: transparent 1px solid;
  border-right: transparent 1px solid;
  border-left:transparent 1px solid;
  width: 100%;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
}
.titleSectionFormToRespMainContainer:hover {
  border-top: var(--ColorRespaldoTerciario-) 1px solid;
  border-right: var(--ColorRespaldoTerciario-) 1px solid;
  border-left: var(--ColorRespaldoTerciario-) 1px solid;
}

.footerTitleSectionFormToResp {
  width: 80%;
  display: flex;
  justify-content: end;
  /* border: 1px solid red; */
}
.spanTitleSectionFooter {
  font-size: 0.9rem;
  color: rgb(214, 0, 0);
}
.headerFormToRespContainer {
  /* border: 1px solid red; */
  width: 90%;
}
.titleFormToResp {
  font-size: 2rem;
}
.descriptionFormToResp{
  font-size: 1rem;
}