* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal-: #F5F5F5;
  --colorSecundario-:#EBEBEB;
  --colorTerciario-:#d0d0d0;
  --ColorLetras-:#1F1F1F;
  --ColorRespaldo-: #4A9659;
  --ColorRespaldoSecundario-:#E26D5C;
  --ColorRespaldoTerciario-:#77547b;
  --Font-: 'Montserrat', sans-serif;
  /* Recordar que fontweigth es de 300 y 600; */
  background-color: var(--colorPrincipal-);
}
.inforVerifyEmailMainContainer{
  height: 100vh;
  background-color: var(--colorPrincipal-);
  display: flex;
  align-items: center;
  justify-content: center;
}
.verifyInfo {
  border-radius: 10px;
  height: 300px;
  width: 400px;
  border: var(--ColorRespaldoTerciario-)1px solid;
  box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 30px;
  gap: 20px;
}
.titleVerifyEmail {
  font-family: var(--Font-);
  font-size: 1.5rem;
}
.btnLoginContainerInfoVerify {
  display: flex;
  justify-content: end;
}
.btnInfoVerifyEmail {
  text-decoration: none;
  border: none;
  font-family: var(--Font-);
  color: var(--colorPrincipal-);
  border-radius: 10px;
  background-color: var(--ColorRespaldoSecundario-);
  padding: 10px 20px;
  box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(185,185,185,1);
}