* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal-: #F5F5F5;
  --colorSecundario-:#EBEBEB;
  --colorTerciario-:#d0d0d0;
  --ColorLetras-:#1F1F1F;
  --ColorRespaldo-: #4A9659;
  --ColorRespaldoSecundario-:#E26D5C;
  --ColorRespaldoTerciario-:#77547b;
  --Font-: 'Montserrat', sans-serif;
  /* Recordar que fontweigth es de 300 y 600; */
  background-color: var(--colorPrincipal-);
}
.footerLadingPageMainContainer {
  height: 200px;
  background-color: var(--ColorRespaldoTerciario-);
}
.iconFooterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.iconsFooter {
  display: flex;
  gap: 20px;
}
.titleIconsFooter {
  font-family: var(--Font-);
  color: var(--colorPrincipal-);
}
.bi {
  color: var(--colorPrincipal-);
  font-size:25px;
}
.modalDisclaimer{
  font-family: var(--Font-);
}
.linksFooter{
  font-family: var(--Font-);
  text-decoration: none;
  color: var(--colorPrincipal-);
  background-color: transparent;
  border: none;
  font-weight: 600;
  padding: 0px;

}
.infoFooterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.footerLadingPageMainContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.btnfooter {
  text-align: start;
}