* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal-: #F5F5F5;
  --colorSecundario-:#EBEBEB;
  --colorTerciario-:#d0d0d0;
  --ColorLetras-:#1F1F1F;
  --ColorRespaldo-: #4A9659;
  --ColorRespaldoSecundario-:#E26D5C;
  --Font-: 'Montserrat', sans-serif;
  /* Recordar que fontweigth es de 300 y 600; */
  background-color: var(--colorPrincipal-);
}
.navsBtnsMainContainer {
  font-family: var(--Font-);
  /* position: absolute; */
  top: -30px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.btnsNavsContainer {
  display: flex;
  gap: 5px;
}
.btnsNavBar {
  padding: 0px 15px;
  background-color: transparent;
  /* border-radius: 5px; */
  border: 1px solid transparent;
}
.btnsNavBarSelected {
  border: 1px solid transparent;
  border-bottom: var(--ColorRespaldoSecundario-) 1px solid;
  padding: 0px 15px;
  background-color: transparent;
}
.btnsNavBar:hover {
  border-bottom: var(--ColorRespaldoSecundario-) 1px solid;
  transition: 0.3s;
  /* border: var(--ColorRespaldoSecundario-) 2px solid; */
}

